<footer class="mt-auto bg-black w-full" >
            <div class="p-5 mx-auto text-white">
                <h1 class="text-2xl">Footer</h1>
                <br/>
                <div class="flex">   
                    <div class="flex flex-col flex-grow">
                        <a href="/#home">Home</a>
                        <a href="#">Licensing</a>
                        <a href="#">Collaborate</a>
                        <a href="#">Support</a>
                    </div>
                    <div class="flex flex-col flex-grow">
                        <a href="#">Host Offline</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Blog</a>
                        <a href="#">FAQs</a>
                    </div>
                    <div class="flex flex-col flex-grow">
                        <a href="#">Integrations</a>
                        <a href="#">Slack Channel</a>
                        <a href="#">Raise a bug</a>
                        <a href="#">Write Us</a>
                    </div>
                    <div class="flex flex-col flex-grow">
                        <a href="#">Github</a>
                        <a href="#">Our Team</a>
                        <a href="#">Terms and Conditions</a>
                    </div>                    
                </div>
                <div class="py-4 text-xs text-right">
                    <a href="">&copy;2021. All Rights Reserved.</a>
                </div>
            </div>
        </footer>