@using System.Security.Claims
@using ServiceBusDriver.Client.Constants
@inject ILocalStorageService _localStorageService
@inject NavigationManager _navigationManager
@using ServiceBusDriver.Client.UIComponents.Components.TopMenuComponents

<div class="bg-purple-600 text-white md:flex md:justify-between md:items-center">

    <div class="flex items-center justify-between p-4">
        <img class="header-logo mx-auto w-auto" src="logo-header.png" alt="Service Bus Driver" style="height: 33px;">
        <span class="header-logo">&nbsp;</span>
        <h1 class="text-lg leading-6 font-medium text-white-900" style="cursor:pointer;">Service Bus Driver</h1>

        <button @onclick="ToggleMenu" class="md:hidden">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                      d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
        </button>
    </div>

    @{
        var menuVisibleClass = _menuVisible ? "" : "hidden";
        var settingsVisibleClass = _settingsVisible ? "" : "hidden";
        var newInstanceVisibleClass = _newInstanceVisible ? "" : "hidden";
    }
   

    <ul class="@($"flex flex-col {menuVisibleClass} bg-gray-700 px-4 py-2 md:flex md:flex-row md:bg-transparent")">
        <nav>
            <div class="@($"relative {settingsVisibleClass}")" style="top: 40px;">
                <div class="absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                        <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                            <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                                </svg>
                                <div class="ml-4">
                                    <p class="text-base font-medium text-gray-900">
                                        Add New Instance
                                    </p>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Create a new Service Bus Instance for your team and manage it all together at a single space.
                                    </p>
                                </div>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                </svg>
                                <div class="ml-4">
                                    <p class="text-base font-medium text-gray-900">
                                        Manage Instances
                                    </p>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Manage your connection instances for your team at a single space.
                                    </p>
                                </div>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                <!-- Heroicon name: outline/shield-check -->
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                </svg>
                                <div class="ml-4">
                                    <p class="text-base font-medium text-gray-900">
                                        Update Password
                                    </p>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Update your Service Bus Driver account password.
                                    </p>
                                </div>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" x-description="Heroicon name: outline/calendar" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                </svg>
                                <div class="ml-4">
                                    <p class="text-base font-medium text-gray-900">
                                        Update Email
                                    </p>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Update your account email connected to Service Bus Driver.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="flex px-5 py-5 bg-gray-50 space-y-6 sm:flex sm:space-y-0 sm:space-x-10 sm:px-8">
                            <div class="flex flex-col flex-grow w-2/5 flow-root">
                                <a href="#" class="-m-3 p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-100">
                                    <!-- Heroicon name: outline/play -->
                                    <svg class="flex-shrink-0 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    <span class="ml-3">Watch Demo</span>
                                </a>
                            </div>

                            <div class="flex flex-col flex-grow w-2/5 flow-root">
                                <a href="#" class="-m-3 p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-100">
                                    <!-- Heroicon name: outline/phone -->
                                    <svg class="flex-shrink-0 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                                    </svg>
                                    <span class="ml-3">Contact Team</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="@($"relative {newInstanceVisibleClass}")" style="top: 40px;">
        <AddInstance />
        </div>

        </nav>
        <NavLink class="md:pl-2 md:pr-4" href="/" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user block mx-auto block mx-auto"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            Hello, 
        <AuthorizeView>
        <NotAuthorized>
                     John Doe
        </NotAuthorized>
            <Authorized>
                @_teamNameText
            </Authorized>
        </AuthorizeView>
                    </NavLink>
        <NavLink class="md:px-4" @onclick="ToggleAddInstanceMenu" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" class="feather feather-settings block mx-auto block mx-auto" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>Add Instance
        </NavLink>
        <NavLink class="md:px-4" @onclick="ToggleSettings" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings block mx-auto block mx-auto"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
            Settings
        </NavLink>
        <NavLink class="md:px-4" @onclick="Logout" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out block mx-auto block mx-auto"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            Logout
        </NavLink>
    </ul>

</div>

@code
{
    private bool _menuVisible = false;
    private bool _settingsVisible = false;
    private bool _newInstanceVisible = false;
    private string _teamNameText = string.Empty;
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        if (authState?.User?.Identity != null && authState.User.Identity.IsAuthenticated)
        {
            var user = authState.User;
            _teamNameText = user.Claims.SingleOrDefault(claim => claim.Type==ClaimTypes.GroupSid)?.Value;

        }
    }

    private void ToggleMenu()
    {
        _menuVisible = !_menuVisible;
    }

    private void ToggleSettings()
    {
        _settingsVisible = !_settingsVisible;
    }

    private void ToggleAddInstanceMenu()
    {
        _newInstanceVisible = !_newInstanceVisible;
    }

    private async Task Logout()
    {
        await _localStorageService.SetItemAsStringAsync(ApiConstants.LocalStorageConstants.JwtTokenKey, string.Empty);
        _navigationManager.NavigateTo(ApiConstants.NavigationConstants.LoginPage, true);
    }
}